# Project Milestone2 - Group Concatsanddogs

# The use of women's rights and gender equality rhetoric in the US

## Header

This notebook is organized followings the different steps used in our pipeline. We first create a list of keywords using [web scraping](#Webscraping) and a personal list of keywords. 
With this list of keywords we [select](#Dataset-selection-from-Quotebank-database) a subset of the Quotebank database. This subset will be our starting dataset for our project.

## General librairies

In [7]:
import pandas as pd
import numpy as np

## Webscraping

AMINA TO ADD

### Libraries

### Functions

## Dataset selection from Quotebank database

### Librairies

In [ ]:
import os

### Functions

In [8]:
#Processing on chunk
#Input
#Output
def process_chunk(chunk, vocabulary):
    print(f'Processing chunk with {len(chunk)} rows')
    #print(chunk.columns)
    occurences = np.zeros(len(vocabulary))
    for index, word in enumerate(vocabulary):
        occurences[index] = np.sum(chunk['quotation'].str.contains(word)) 
    return occurences

#Select quotes containing keywords
def select_quotes_chunk(chunk, keywords):
    print(f'Processing chunk with {len(chunk)} rows')
    return chunk[chunk['quotation'].str.contains('|'.join(keywords))]

#Use the selection function on each chunk of the full dataset 
def select_quotes_one_year(path_to_file, vocabulary, chunksize = 10 ** 4):
    with pd.read_json(path_to_file, lines=True, compression='bz2', chunksize=chunksize) as df_reader:
        for index, chunk in enumerate(df_reader):
            if not index==0:
                selected_df = pd.concat([selected_df, select_quotes_chunk(chunk, vocabulary)])
            else: 
                selected_df = select_quotes_chunk(chunk, vocabulary)
    return selected_df

#Use the selection function on each chunk of the full dataset 
#Dumps the selected quotes into a new json file
def select_and_dump(path_to_file, vocabulary, chunksize = 10 ** 4):
    with pd.read_json(path_to_file, lines=True, compression='bz2', chunksize=chunksize) as df_reader:
        for index, chunk in enumerate(df_reader):
            #Dump selected quotes
            selected_df = select_quotes_chunk(chunk, vocabulary)
            pickle_file_name =randomword(10) +'.pkl'
            selected_df.to_pickle('files/'+pickle_file_name)
            #if not index==0:
                #selected_df = pd.concat([selected_df, select_quotes_chunk(chunk, vocabulary)])
            #else: 
               # selected_df = select_quotes_chunk(chunk, vocabulary)
    return selected_df


import random, string

def randomword(length):
    letters = string.ascii_lowercase
    return ''.join(random.choice(letters) for i in range(length))

### Constants

In [ ]:
DATA_FOLDER = '../data/'
QUOTEBANK_2020 = DATA_FOLDER+ "quotes-2020.json.bz2"
QUOTEBANK_2019 = DATA_FOLDER+ "quotes-2019.json.bz2"
QUOTEBANK_2017 = DATA_FOLDER+ "quotes-2017.json.bz2"
QUOTEBANK_2015 = DATA_FOLDER+ "quotes-2015.json.bz2"
QUOTEBANK_2018 = DATA_FOLDER+ "quotes-2018.json.bz2"
QUOTEBANK_2016 = DATA_FOLDER+ "quotes-2016.json.bz2"

KEYWORDS_LIST = ('women\'s right','Equal opportunities','Equal rights','Equal status','equal pay',
              'gender gap','Gender discrimination','Gender equality','Sexual harrassment',
              'Women empowerment','women victim','women immigration','Women emancipation',
              'women\'s participation','Western women','non-western woman','Muslim women',
              'Equal wages','Gender equality','gender equity','Men and women','women and men',
              'women oppression','niqab ban','struggle of girls','struggle of women','war against women',
              'oppression of girls','oppression of women','women oppression','women\'s opression','liberate women',
              'religious oppresion','abuse of women','Male oppression','Female oppression','Exploitation of women',
              'Indigenous women','Patriarchal culture','gender equality','child care','men pay','percentage men',
              'pay percentage','sexual harassment','women girls','girls women','first time',
              'rates women','women according','female mayors','share women','women movement',
              'see women','gender stereotypes','gender gap',
              'women representation','sex discrimination','states women','lose weight',
              'women rights','woman time',
            'based gender',
              'proportional electoral','female candidates','gender-based violence','entirely female','cities female',)

### Select and pickle of quotes of interest

Note: This code has to be run once to create the pickle files containing the quotes of interest. For futher use, the dataframe is direcly loaded from the pickle files.

In [11]:
##The two first have been directly dumped into multiples pickle files
#%time QOI_2020_DF_Dumped = select_and_dump(QUOTEBANK_2020,KEYWORDS_LIST,10 ** 4)
#%time QOI_2019_DF_Dumped = select_and_dump(QUOTEBANK_2019,KEYWORDS_LIST,10 ** 4)
#The pickles files have been catenated into a single file 

#%time QOI_2017_DF = select_quotes_one_year(QUOTEBANK_2017,KEYWORDS_LIST,10 ** 4)
# QOI_2017_DF.to_pickle('files/'+'2017.pkl')
# %time QOI_2015_DF = select_quotes_one_year(QUOTEBANK_2015,KEYWORDS_LIST,10 ** 4)
# QOI_2015_DF.to_pickle('files/'+'2015.pkl')
# QOI_2018_DF.to_pickle('files/'+'2018.pkl')
# %time QOI_2016_DF = select_quotes_one_year(QUOTEBANK_2016,KEYWORDS_LIST,10 ** 4)
# QOI_2016_DF.to_pickle('files/'+'2016.pkl')

### Load dataframe of selected quotes

In [13]:
#Concatenate the dataframes obtained from each of the pickle file. 
files = ('2015.pkl','2016.pkl','2017.pkl','2018.pkl','2019-2020.pkl')
df = pd.concat([pd.read_pickle('files/'+fp) for fp in files], ignore_index=True)

In [18]:
df.head()

,quoteID,quotation,speaker,qids,date,numOccurrences,probas,urls,phase
0,2015-10-23-031166,"However, I was worried when I saw the name bec...",None,[],2015-10-23 23:18:07,2,"[[None, 0.9483], [Attahiru Jega, 0.0517]]",[http://www.punchng.com/politics/bayelsa-kogi-...,E
1,2015-07-24-002627,a new title from the main Dragon Quest series ...,Takashi Mochizuki,[Q23899784],2015-07-24 06:51:44,1,"[[Takashi Mochizuki, 0.7948], [None, 0.2052]]",[http://www.siliconera.com/2015/07/24/rumor-dr...,E
2,2015-03-09-004706,Anything less than women winning 50 per cent o...,Katy Gallagher,[Q463507],2015-03-09 12:30:00,1,"[[Katy Gallagher, 0.5872], [None, 0.4128]]",[http://www.smh.com.au/act-news/women-need-to-...,E
3,2015-03-18-032613,I met Joe Dooling last year during Indiana Mid...,Jonathan Byrd,"[Q2483715, Q6272690]",2015-03-18 22:20:56,1,"[[Jonathan Byrd, 0.937], [None, 0.063]]",[http://paddocktalk.com/news/html/modules.php?...,E
4,2015-07-19-007292,but the first time I saw the rows of rusty lit...,None,[],2015-07-19 17:04:44,2,"[[None, 0.7744], [Janos Honkonen, 0.2256]]",[http://www.vice.com/read/chernobyl-a-vacation...,E

In [19]:
print(f'The dataframe has {len(df)} entries')

The dataframe has 446157 entries

In [23]:
pd.options.display.max_colwidth = 100
df.head()['quotation']

0    However, I was worried when I saw the name because I think that someone from the South-West shou...
1                       a new title from the main Dragon Quest series for the first time in three years.
2    Anything less than women winning 50 per cent of new seats will be a loss not only for a progress...
3    I met Joe Dooling last year during Indiana Midget Week, and I quickly learned that Joe shares th...
4    but the first time I saw the rows of rusty little beds in a kindergarten dorm room, I was on the...
Name: quotation, dtype: object