In [33]:
import pandas as pd
import numpy as np
import re

In [34]:
dict_ = {'key 1': 'value 1', 
         'key 2': 'value 2', 
         'key 3': 'Mitt Romney: “thu, apr 26, 2012”',
        'key 4': 'random text tesing ',
        'key 5': 'Mitt Romney: “thu, apr 26, 2012”',
         'key 7': ' > ',
         'key 8': '< ',
         'key 9': '< ad',
         'key 10': ' ad >',
         'key 11': ' <href= >',
        'key 6': 'But the call was already disconnected. Sanchez has been placed on administrative duty, meaning he has been moved out of the dispatch center. An internal investigation has been launched into the incident and officials say they\'re taking the allegation very seriously. MORE LOCAL NEWS & nbsp & nbsp & nbsp & nbsp & nbsp & nbsp & nbsp & nbsp & nbsp & nbsp & nbsp & nbsp & nbsp  a href = >'}
df = pd.DataFrame(dict_.items(),columns=['test','bla'])

In [35]:
df

      test                                                bla
0    key 1                                            value 1
1    key 2                                            value 2
2    key 3                   Mitt Romney: “thu, apr 26, 2012”
3    key 4                                random text tesing
4    key 5                   Mitt Romney: “thu, apr 26, 2012”
5    key 7                                                 >
6    key 8                                                 <
7    key 9                                               < ad
8   key 10                                               ad >
9   key 11                                           <href= >
10   key 6  But the call was already disconnected. Sanchez...

In [36]:
df

      test                                                bla
0    key 1                                            value 1
1    key 2                                            value 2
2    key 3                   Mitt Romney: “thu, apr 26, 2012”
3    key 4                                random text tesing
4    key 5                   Mitt Romney: “thu, apr 26, 2012”
5    key 7                                                 >
6    key 8                                                 <
7    key 9                                               < ad
8   key 10                                               ad >
9   key 11                                           <href= >
10   key 6  But the call was already disconnected. Sanchez...

In [37]:
# detects if a row has a (or has a part of) a html tag in quote and then removes it
df[~df['bla'].str.contains('|'.join(('.*?>', '<.*?', '<.*?>')))]

    test                               bla
0  key 1                           value 1
1  key 2                           value 2
2  key 3  Mitt Romney: “thu, apr 26, 2012”
3  key 4               random text tesing
4  key 5  Mitt Romney: “thu, apr 26, 2012”

In [38]:
df

      test                                                bla
0    key 1                                            value 1
1    key 2                                            value 2
2    key 3                   Mitt Romney: “thu, apr 26, 2012”
3    key 4                                random text tesing
4    key 5                   Mitt Romney: “thu, apr 26, 2012”
5    key 7                                                 >
6    key 8                                                 <
7    key 9                                               < ad
8   key 10                                               ad >
9   key 11                                           <href= >
10   key 6  But the call was already disconnected. Sanchez...

In [71]:
#df[~df['bla'].str.contains(' (0[1-9] | [1-2][0-9] | 3[0-1]), (19|20)\d{2}', regex=True)]
df[~df['bla'].str.contains(' \d{2}, (19|20)\d{2}', regex=True)]

<ipython-input-71-9f375e5610f6>:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  df[~df['bla'].str.contains(' \d{2}, (19|20)\d{2}', regex=True)]

      test                                                bla
0    key 1                                            value 1
1    key 2                                            value 2
3    key 4                                random text tesing
5    key 7                                                 >
6    key 8                                                 <
7    key 9                                               < ad
8   key 10                                               ad >
9   key 11                                           <href= >
10   key 6  But the call was already disconnected. Sanchez...

In [47]:
df['bla'].apply(lambda x : check_if_date(x))

0      True
1      True
2      True
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
Name: bla, dtype: bool

In [13]:
# initializing string
test_str = 'Mitt Romney: “thu, apr 26, 2012”'

SyntaxError: invalid syntax (Temp/ipykernel_11060/949915675.py, line 3)

In [49]:
check_if_date('m6061779999610')

OverflowError: Python int too large to convert to C long

In [16]:
is_date(test_str, fuzzy=True)

True

In [36]:
df[df['bla'].str.contains(r'\d')]

    test                               bla
0  key 1                           value 1
1  key 2                           value 2
2  key 3  Mitt Romney: “thu, apr 26, 2012”
4  key 5  Mitt Romney: “thu, apr 26, 2012”